{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1?api-version=2015-11-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"sku\": {\r\n    \"name\": \"standard\"\r\n  },\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westus\",\r\n  \"name\": \"rsv1\",\r\n  \"etag\": \"f0ce3df8-6c03-4ac3-b734-dda599b6eaad\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1\",\r\n  \"type\": \"Microsoft.RecoveryServicesBVTD/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"standard\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/AAAAA\",\r\n      \"name\": \"AAAAA\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/CisService-BXZGB7XVJWIHQDPU5ZNZRUQVRYRUQ7N3ONQLECALOWU7L7O4DWZQ-west-us\",\r\n      \"name\": \"CisService-BXZGB7XVJWIHQDPU5ZNZRUQVRYRUQ7[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/AAAAA/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14905"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/CisService-BXZGB7XVJWIHQDPU5ZNZRUQVRYRUQ7N3ONQLECALOWU7L7O4DWZQ-west-us/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14904"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Default-IntelligentSystems-WestUS/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14903"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Default-Networking/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14902"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14901"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Default-Storage-NorthCentralUS/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14900"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Default-Storage-WestUS/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14899"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Group/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14898"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Group-1/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14897"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/intdrg/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14889"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/IoTHub-Default-East-US/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14888"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/MobileEngagement/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14887"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/rdfe/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14886"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/RecoveryServices-BXZGB7XVJWIHQDPU5ZNZRUQVRYRUQ7N3ONQLECALOWU7L7O4DWZQ-West-Europe/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14885"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/RecoveryServices-BXZGB7XVJWIHQDPU5ZNZRUQVRYRUQ7N3ONQLECALOWU7L7O4DWZQ-west-us/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14884"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/resourcegroup/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14883"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/StreamAnalytics-Default-West-US/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14882"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/TestRP-7ee3823b-9635-45e0-b9b9-a80516c6dcf4/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14881"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishak/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"rsv1\",\r\n      \"etag\": \"ab3c310e-d044-4cba-8ea1-1aad9f970d9f\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishak/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1\",\r\n      \"type\": \"Microsoft.RecoveryServicesBVTD/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"standard\",\r\n        \"tier\": null,\r\n        \"size\": null,\r\n        \"family\": null,\r\n        \"capacity\": null\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"rsv2\",\r\n      \"etag\": \"ac6f473e-6f82-4488-ad21-ec48234d7a20\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishak/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv2\",\r\n      \"type\": \"Microsoft.RecoveryServicesBVTD/vaults\",\r\n      \"sku\"[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"intdrs1\",\r\n      \"etag\": \"9c54160e-e38b-4805-a65b-7a0e5d2[...]
[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Vm2-test/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14878"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/Vm5/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14877"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/wahv0e9ab449-2925-4d1c-b70c-f96915ffbce8/providers/Microsoft.RecoveryServicesBVTD/vaults?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14875"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1/backupstorageconfig/vaultstorageconfig?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1/backupstorageconfig/vaultstorageconfig\",\r\n  \"name\": \"vaultstorageconfig\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupstorageconfig\",\r\n  \"properties\": {\r\n    \"storageModelType\": \"GeoRedundant\",\r\n    \"storageType\": \"GeoRedundant\",\r\n    \"dedupState\": \"Disabled\",\r\n    \"storageTypeState\": \"Unlocked\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14864"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/6999e4d0-cfde-46a3-9092-35dc7a28b5d4/resourceGroups/vishakintdrg/providers/Microsoft.RecoveryServicesBVTD/vaults/rsv1?api-version=2015-11-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6999e4d0-cfde-46a3-9092-35dc7a28b5d4"
  }
}